@model IEnumerable<TaskManagementApp.Models.Task>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th width=50%>
                Tasks
            </th>
            <th width=30%>
                User
            </th>
            <th width=20%></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskDescription)
                @if (@item.Status == "Incomplete")
                {
                    <span class="badge badge-danger">@item.Status</span>
                }
                else if (@item.Status == "Complete")
                {
                    <span class="badge badge-success">@item.Status</span>
                } else
                {
                    <span class="badge badge-info">@item.Status</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.NormalizedEmail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
